body{
    padding: 5%;
    font-family: 'Roboto Mono';
    color: navy;
    background-color: darkorange;
}

/*FORM*/

form{
    display: inline-block;
    padding: 1vw;
    border: 1px solid navy;
    margin-bottom: 10px;
    font-family: 'Roboto Mono'
}

select, label, input{
    display: block;
    width: 100%;
}

#input-user::placeholder{
    color: grey;
}

.form-group{
    float: left;
    margin: 5px;
}

.button-group{
    float: none;
    display: inline-block;
}

/*TABLE*/
table, tr, td, th{
    font-family: 'Roboto Mono';
    border: 1px solid navy;
    border-collapse: collapse;
}

#table-head, #table-body{
    font-weight: bold;
    text-align: left;
    border: 1px solid navy;
}